body {
  font-family: Arial, sans-serif;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.forms-container {
  display: flex;
  gap: 20px;
}

.form-box {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 300px;
}

form h2 {
  margin-bottom: 1rem;
  color: #333;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 0.8rem;
  background: #2575fc;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #1a5edb;
}

#message {
  margin-top: 1rem;
  font-weight: bold;
  color: green;
}
.form-container {
    display: flex;
    gap: 20px;
}
.navButtons {
  position: fixed;       
  bottom: 0;              
  left: 0;
  width: 100%;

  display: flex;         
  justify-content: center; 
  gap: 20px;             

  padding: 15px;
  background:#333;      
}


