body {
  background: linear-gradient(to right, #111, #444);
  color: white;
  height: 100vh;

}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
.hero {
  display: flex;
  align-items: center;
  height: 80vh;
  padding: 0 60px;
  position: relative;
   
}
.hero h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;} 

.hero h2 {
  margin: 15px 0;
  font-size: 24px;
  opacity: 0.8;
   
}
.waves {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  opacity: 0.4;
}
