body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
    padding: 20px;
    background-color: brown;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
#events {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    gap: 20px;
}
.prog {
    display: block;
}
.details {
    align-items: center;
}
