body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3f3a3a;
    margin: 20px;
    padding: 20px;
}
#events {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    gap: 20px;
}
.prog {
    display: block;
}
.details {
    align-items: center;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    color: aliceblue;
}
    


